{% extends "index.html" %}

<!-- Titles -->
{%block page_title%}
    - Basic Math
{%endblock%}
{% block main_page_title %}
    Basic Calculator
{%endblock%}

<!-- Main page -->
{%block main_page%}
    <div class="main-part-page-margin">
        <div class="calc-input-box">
            <div class="calc-previous-input">
                test01
            </div>
            <div class="calc-input-box-text">
                test02
            </div>
            <div class="calc-buttons">
                <div class="calc-button-row">
                    <button class="calc-button">
                        btn1
                    </button>
                    <button class="calc-button">
                        btn2
                    </button>
                    <button class="calc-button">
                        btn3
                    </button>
                    <button class="calc-button">
                        btn4
                    </button>
                    <button class="calc-button">
                        btn5
                    </button>
                    <button class="calc-button">
                        btn6
                    </button>
                    <button class="calc-button">
                        btn7
                    </button>
                    <button class="calc-button">
                        btn8
                    </button>
                </div>
                <div class="calc-button-row">
                    <button class="calc-button">
                        btn1
                    </button>
                    <button class="calc-button">
                        btn2
                    </button>
                    <button class="calc-button">
                        btn3
                    </button>
                    <button class="calc-button">
                        btn4
                    </button>
                    <button class="calc-button">
                        btn5
                    </button>
                    <button class="calc-button">
                        btn6
                    </button>
                    <button class="calc-button">
                        btn7
                    </button>
                    <button class="calc-button">
                        btn8
                    </button>
                </div>
                <div class="calc-button-row">
                    <button class="calc-button-shift">
                        shift
                    </button>
                    <button class="calc-button">
                        btn3
                    </button>
                    <button class="calc-button">
                        btn4
                    </button>
                    <button class="calc-button">
                        btn5
                    </button>
                    <button class="calc-button">
                        btn6
                    </button>
                    <button class="calc-button">
                        btn7
                    </button>
                    <button class="calc-button">
                        btn8
                    </button>
                </div>
                <div class="calc-button-row">
                    <button class="calc-button">
                        btn1
                    </button>
                    <button class="calc-button">
                        btn2
                    </button>
                    <button class="calc-button">
                        btn3
                    </button>
                    <button class="calc-button">
                        btn4
                    </button>
                    <button class="calc-button">
                        btn5
                    </button>
                    <button class="calc-button">
                        btn6
                    </button>
                    <button class="calc-button">
                        btn7
                    </button>
                    <button class="calc-button">
                        btn8
                    </button>
                </div>
            </div>
        </div>
    </div>
{%endblock%}