<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            PitrMath
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main_style.css')}}">
    </head>
    
    <body>
        <div class="side-nav">
            <div class="side-nav-header-1">
                <h1>
                    PitrMath
                </h1>
            </div>
            <div class="side-nav-list">
                <ul>
                    <div>
                        <button class="side-nav-collapsible">
                            <span class="side-nav-list-title">
                                Basic Mathematics
                            </span>
                        </button>
                        <div class="side-nav-options">
                            <li>
                                <button class="side-nav-option">
                                    <span>Basic Calculator</span>
                                </button>
                            </li>
                            <li>
                                <button class="side-nav-option">
                                    <span>Basic Equations</span>
                                </button>
                            </li>
                            <li>
                                <button class="side-nav-option">
                                    <span>Trigonometry</span>
                                </button>
                            </li>
                            <li>
                                <button class="side-nav-option">
                                    <span>Functions</span>
                                </button>
                            </li>
                            <li>
                                <button class="side-nav-option">
                                    <span>Vectors</span>
                                </button>
                            </li>
                        </div>
                    </div>
                    <div>
                        <button class="side-nav-collapsible">
                            <span class="side-nav-list-title">
                                Basic Geometry
                            </span>
                        </button>
                        <div class="side-nav-options">
                            <li>
                                <button class="side-nav-option">
                                    <span>Rectangles</span>
                                </button>
                            </li>
                            <li>
                                <button class="side-nav-option">
                                    <span>Triangles</span>
                                </button>
                            </li>
                            <li>
                                <button class="side-nav-option">
                                    <span>Elipses</span>
                                </button>
                            </li>
                            <li>
                                <button class="side-nav-option">
                                    <span>Polygons</span>
                                </button>
                            </li>  
                            <li>
                                <button class="side-nav-option">
                                    <span>Angles in elipses</span>
                                </button>
                            </li>                             
                        </div>
                    </div>
                    <div>
                        <button class="side-nav-collapsible">
                            <span class="side-nav-list-title">
                                3D Geometry
                            </span>
                        </button>
                        <div class="side-nav-options">
                            <li>
                                <button class="side-nav-option">
                                    <span>Cuboids</span>
                                </button>
                            </li>
                            <li>
                                <button class="side-nav-option">
                                    <span>Elipsoids</span>
                                </button>
                            </li>
                            <li>
                                <button class="side-nav-option">
                                    <span>Cylinders</span>
                                </button>
                            </li>
                            <li>
                                <button class="side-nav-option">
                                    <span>Pyramids</span>
                                </button>
                            </li>
                            <li>
                                <button class="side-nav-option">
                                    <span>Prisms</span>
                                </button>
                            </li>
                        </div>
                    </div>
                    <div>
                        <button class="side-nav-collapsible">
                            <span class="side-nav-list-title">
                                Complex Mathematics
                            </span>
                        </button>
                        <div class="side-nav-options">
                            <li>
                                <button class="side-nav-option">
                                    <span>Basic calculator</span>
                                </button>
                            </li>
                            <li>
                                <button class="side-nav-option">
                                    <span>Equations</span>
                                </button>
                            </li>
                            <li>
                                <button class="side-nav-option">
                                    <span>Quaternions</span>
                                </button>
                            </li>
                        </div>
                    </div>
                    <!-- <div>
                        <button class="side-nav-collapsible">
                            <span class="side-nav-list-title">
                                3D Geometry
                            </span>
                        </button>
                        <div class="side-nav-options">
                            <li>
                                <button class="side-nav-option">
                                    <span>Cuboids</span>
                                </button>
                            </li>
                        </div>
                    </div> -->
                </ul>
            </div>
        </div>

        <script type="text/javascript", src="{{url_for('static', filename='js/side_nav.js')}}"></script>
    </body>
</html>