<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            PitrMath
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main_style.css')}}">
    </head>
    
    <body>
        <div class="side-nav">
            <div class="side-nav-header-1">
                <h1>
                    PitrMath
                </h1>
            </div>
            <div class="side-nav-list">
                <ul>
                    <div>
                        <button class="side-nav-collapsible">
                            <span class="side-nav-list-title">
                                {%block side_nav_option_1%}
                                    Basic Mathematics
                                {%endblock%}
                            </span>
                        </button>
                        <div class="side-nav-options">
                            <li>
                                <button class="side-nav-option">
                                    <span>
                                        {%block side_nav_option_1_1%}
                                            Basic Calculator
                                        {%endblock%}
                                    </span>
                                </button>
                            </li>
                            <li>
                                <button class="side-nav-option">
                                    <span>
                                        {%block side_nav_option_1_2%}
                                            Basic Equations
                                        {%endblock%}
                                    </span>
                                </button>
                            </li>
                            <li>
                                <button class="side-nav-option">
                                    <span>
                                        {%block side_nav_option_1_3%}
                                            Trigonometry
                                        {%endblock%}
                                    </span>
                                </button>
                            </li>
                            <li>
                                <button class="side-nav-option">
                                    <span>
                                        {%block side_nav_option_1_4%}
                                            Functions
                                        {%endblock%}
                                    </span>
                                </button>
                            </li>
                            <li>
                                <button class="side-nav-option">
                                    <span>
                                        {%block side_nav_option_1_5%}
                                            Vectors
                                        {%endblock%}
                                    </span>
                                </button>
                            </li>
                        </div>
                    </div>
                    <div>
                        <button class="side-nav-collapsible">
                            <span class="side-nav-list-title">
                                {%block side_nav_option_2%}
                                    Basic Geometry
                                {%endblock%}
                            </span>
                        </button>
                        <div class="side-nav-options">
                            <li>
                                <button class="side-nav-option">
                                    <span>
                                        {%block side_nav_option_2_1%}
                                            Rectangles
                                        {%endblock%}
                                    </span>
                                </button>
                            </li>
                            <li>
                                <button class="side-nav-option">
                                    <span>
                                        {%block side_nav_option_2_2%}
                                            Triangles
                                        {%endblock%}
                                    </span>
                                </button>
                            </li>
                            <li>
                                <button class="side-nav-option">
                                    <span>
                                        {%block side_nav_option_2_3%}
                                            Elipses
                                        {%endblock%}
                                    </span>
                                </button>
                            </li>
                            <li>
                                <button class="side-nav-option">
                                    <span>
                                        {%block side_nav_option_2_4%}
                                            Polygons
                                        {%endblock%}
                                    </span>
                                </button>
                            </li>  
                            <li>
                                <button class="side-nav-option">
                                    <span>
                                        {%block side_nav_option_2_5%}
                                            Angles in elipses
                                        {%endblock%}
                                    </span>
                                </button>
                            </li>                             
                        </div>
                    </div>
                    <div>
                        <button class="side-nav-collapsible">
                            <span class="side-nav-list-title">
                                {%block side_nav_option_3%}
                                    3D Geometry
                                {%endblock%}
                            </span>
                        </button>
                        <div class="side-nav-options">
                            <li>
                                <button class="side-nav-option">
                                    <span>
                                        {%block side_nav_option_3_1%}
                                            Cuboids
                                        {%endblock%}
                                    </span>
                                </button>
                            </li>
                            <li>
                                <button class="side-nav-option">
                                    <span>
                                        {%block side_nav_option_3_2%}
                                            Elipsoids
                                        {%endblock%}
                                    </span>
                                </button>
                            </li>
                            <li>
                                <button class="side-nav-option">
                                    <span>
                                        {%block side_nav_option_3_3%}
                                            Cylinders
                                        {%endblock%}
                                    </span>
                                </button>
                            </li>
                            <li>
                                <button class="side-nav-option">
                                    <span>
                                        {%block side_nav_option_3_4%}
                                            Pyraminds
                                        {%endblock%}
                                    </span>
                                </button>
                            </li>
                            <li>
                                <button class="side-nav-option">
                                    <span>
                                        {%block side_nav_option_3_5%}
                                            Prisms
                                        {%endblock%}
                                    </span>
                                </button>
                            </li>
                        </div>
                    </div>
                    <div>
                        <button class="side-nav-collapsible">
                            <span class="side-nav-list-title">
                                {%block side_nav_option_4%}
                                    Complex Mathematics
                                {%endblock%}
                            </span>
                        </button>
                        <div class="side-nav-options">
                            <li>
                                <button class="side-nav-option">
                                    <span>
                                        {%block side_nav_option_4_1%}
                                            Basic Calculator
                                        {%endblock%}
                                    </span>
                                </button>
                            </li>
                            <li>
                                <button class="side-nav-option">
                                    <span>
                                        {%block side_nav_option_4_2%}
                                            Equations
                                        {%endblock%}
                                    </span>
                                </button>
                            </li>
                            <li>
                                <button class="side-nav-option">
                                    <span>
                                        {%block side_nav_option_4_3%}
                                            Quaternions
                                        {%endblock%}
                                    </span>
                                </button>
                            </li>
                        </div>
                    </div>
                    <div>
                        <button class="side-nav-collapsible">
                            <span class="side-nav-list-title">
                                {%block side_nav_option_5%}
                                Calculus
                                {%endblock%}
                            </span>
                        </button>
                        <div class="side-nav-options">
                            <li>
                                <button class="side-nav-option">
                                    <span>
                                        {%block side_nav_option_5_1%}
                                            Limits
                                        {%endblock%}
                                    </span>
                                </button>
                            </li>
                            <li>
                                <button class="side-nav-option">
                                    <span>
                                        {%block side_nav_option_5_2%}
                                            Differential Calculus
                                        {%endblock%}
                                    </span>
                                </button>
                            </li>
                            <li>
                                <button class="side-nav-option">
                                    <span>
                                        {%block side_nav_option_5_3%}
                                            Integral Calculus
                                        {%endblock%}
                                    </span>
                                </button>
                            </li>
                            <li>
                                <button class="side-nav-option">
                                    <span>
                                        {%block side_nav_option_5_4%}
                                            Finite Series and Sums
                                        {%endblock%}
                                    </span>
                                </button>
                            </li>
                            <li>
                                <button class="side-nav-option">
                                    <span>
                                        {%block side_nav_option_5_5%}
                                            Infinite Series and Sums
                                        {%endblock%}
                                    </span>
                                </button>
                            </li>
                        </div>
                    </div>
                    <!-- <div>
                        <button class="side-nav-collapsible">
                            <span class="side-nav-list-title">
                                3D Geometry
                            </span>
                        </button>
                        <div class="side-nav-options">
                            <li>
                                <button class="side-nav-option">
                                    <span>Cuboids</span>
                                </button>
                            </li>
                        </div>
                    </div> -->
                </ul>
            </div>
        </div>

        <div>
            <div class="main-page-title">
                <h1>
                    PitrMath -
                    {% block main_page_title %}
                        home
                    {%endblock%}
                </h1>
            </div>
            <div class="main-part-page">
                {%block main_page%}
    
                {%endblock%}
            </div>
        </div>

        <script type="text/javascript", src="{{url_for('static', filename='js/side_nav.js')}}"></script>
    </body>
</html>